.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#2563EB;
}

.logo span{
    color:#7C3AED;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#1E293B;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#2563EB;
}